@using ToiLamKythuat.ViewModels
@model SidebarInfor
<div class="recent">
    <h3>BÀI VIẾT MỚI</h3>
    <ul>
        @foreach (var post in Model.topPosts)
        {
            var postUrl = post.metaTitle + "-" + post.id + ".html";
            <li><a href="@postUrl">@post.title</a></li>
        }
    </ul>
</div>
<div class="comments">
    <h3>TÁC GIẢ</h3>
    <img src="~/images/avatar.jpg" style="border-radius:50%" class="text-center" height="80" width="80" />
    <h4>Dương Nguyễn Tấn Hòa</h4>
    <p style="font-weight:300;">Mình là Dương Nguyễn Tấn Hòa, một developer. Cuộc sống đẩy đưa khiến mình gặp nhiều lĩnh vực liên quan đến kỹ thuật và công nghệ</p>
    <p style="font-weight:300;">Blog này là nơi mình chia sẻ những kiến thức, kinh nghiệm, dịch sách và bàn luận các vấn đề mình đạt được trong quá trình làm việc và trải nghiệm</p>
</div>
<div class="clearfix"></div>
<div class="archives">
    <h3>DANH MỤC BÀI VIẾT</h3>
    <ul>
        @foreach (var category in Model.categories)
        {
            var categoryUrl = AppGlobal.SiteUrl + "danh-muc/" + category.meta + "-" + category.code + ".html";
            <li><a href="@categoryUrl">@category.name</a></li>
        }
    </ul>
</div>
<div class="archives">
    <h3>FANPAGE</h3>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftoilamkythuat%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
</div>
<div class="categories">
    <h3>TAG</h3>
    <ul>
        @foreach (var tag in Model.tags)
        {
            var tagUrl = AppGlobal.SiteUrl + "tag/" + tag.meta + "-" + tag.id + ".html";
            <li><a href="@tagUrl">@tag.tagName</a></li>
        }
    </ul>
</div>
<div class="clearfix"></div>

