@using ToiLamKythuat.ViewModels
@model HeaderInfor

<title>@Model.Title</title>
<meta name="description" content="@Model.Description" />
<meta name="keywords" content="@string.Join(", ", Model.Keywords)" />
<meta name="news_keywords" content="@string.Join(", ", Model.Keywords)" />
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5, user-scalable=1" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=100" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="toilamkythuat.com" />
<meta name="tt_article_id" content="@Model.ArticleId" />
<meta name="tt_category_id" content="@Model.CategoryId" />
<meta name="tt_page_type" content="article" />
<meta name="tt_page_type_new" content="3" />
<!-- META FOR FACEBOOK -->
<meta property="og:site_name" content="toilamkythuat.com" />
<meta property="og:rich_attachment" content="true" />
<meta property="og:type" content="article" />
<meta property="article:publisher" content="@Model.FacebookPushlishser" />
<meta property="og:url" itemprop="url" content="@Model.Url" />
<meta property="og:image" itemprop="thumbnailUrl" content="@Model.FacebookThumnailImage" />
<meta property="og:image:width" content="800" />
<meta property="og:image:height" content="354" />
<meta content="@Model.FacebookTitle" itemprop="headline" property="og:title" />
<meta content="@Model.FacebookDescription" itemprop="description" property="og:description" />
<meta property="article:tag" content="@string.Join(", ", Model.FacebookTags)" />
<!-- END META FOR FACEBOOK -->
<meta content="news" itemprop="genre" name="medium" />
<meta content="vi-VN" itemprop="inLanguage" />
<meta content="Vĩ mô" itemprop="articleSection" />
<meta content="Chém gió toilamkythuat.com" itemprop="sourceOrganization" name="source" />
<meta content="@Model.DatePublished" itemprop="datePublished" name="pubdate" />
<meta content="@Model.DateModified" itemprop="dateModified" name="lastmod" />
<meta content="@Model.DateCreated" itemprop="dateCreated" />
<meta name="copyright" content="ToiLamKyThuat" />
<meta name="author" content="ToiLamKyThuat" />
<meta name="robots" content="index, follow" />
<meta name="geo.placename" content="Ha Noi, Viet Nam" />
<meta name="geo.region" content="VN-HN" />
<meta name="geo.position" content="21.030624;105.782431" />
<meta name="ICBM" content="21.030624, 105.782431" />
<meta name="revisit-after" content="days" />
<!-- Twitter Card -->
<meta name="twitter:card" value="summary" />
<meta name="twitter:url" content="@Model.TwitterUrl" />
<meta name="twitter:title" content="@Model.TwitterTitle" />
<meta name="twitter:description" content="@Model.TwitterDescription" />
<meta name="twitter:image" content="@Model.TwitterImage" />

<link type="image/x-icon" href="@Model.Icon" rel="shortcut icon">
<link rel="apple-touch-icon-precomposed" href="@Model.Icon" sizes="72x72">
<link rel="apple-touch-icon-precomposed" href="@Model.Icon" sizes="144x144">
<link rel="apple-touch-icon-precomposed" href="@Model.Icon" sizes="57x57">
<link rel="apple-touch-icon-precomposed" href="@Model.Icon" sizes="114x114">
<link rel="nokia-touch-icon" href="@Model.Icon">
<link rel="apple-touch-icon-precomposed" href="@Model.Icon" sizes="1x1">
