@using ToiLamKythuat.ViewModels
@using ToiLamKythuat.ViewModelExtensions
@model DetailHomeView
@{
    var headerInfor = new HeaderInfor().GetPostValue(Model.post);
    var headerHtml = await Html.PartialAsync("~/Views/Header.cshtml", headerInfor);
}
@section Header {
    @headerHtml
}
<div class="single">
    <div class="container">
        <div class="col-md-8 single-main">
            <div class="single-grid">
                <img src="@Model.post.coverImage" alt="@Model.post.title" />
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        @{ 
                            var postUrl = Model.post.metaTitle + "-" + Model.post.id + ".html";
                            var categoryBreadcumbUrl = "danh-muc/" + Model.post.categories.FirstOrDefault()?.meta + "-" + Model.post.categories.FirstOrDefault()?.code + ".html";
                        }
                        <li class="breadcrumb-item"><a href="@AppGlobal.SiteUrl">@AppGlobal.SiteName</a></li>
                        <li class="breadcrumb-item"><a href="@categoryBreadcumbUrl">@Model.post.categories?.FirstOrDefault()?.name</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.post.title</li>
                    </ol>
                </nav>
                <h1 style="padding-bottom:10px;">@Model.post.title</h1>
                <p class="text-black"
                   style="color:black !important; text-align:right; font-family:'Times New Roman', Times, serif; font-size:20px; font-style:italic;">
                    @Model.post.createDate.ToLongDateString()
                </p>
                <p>@Model.post.summary</p>
                @Html.Raw(Model.post.detail)
            </div>
            <footer class="entry-footer">
                <div class="entry-footer-right">
                </div>
                <div class="cat-links">
                    Được đăng trong:
                    @if (Model.post?.categories != null)
                    {
                        foreach (var category in Model.post.categories)
                        {
                            var categoryUrl = "danh-muc/" + category.meta + "-" + category.code + ".html";
                            <a style="color:#00aeff" href="@categoryUrl" rel="category tag">@(category.name + ",")</a>
                        }
                    }
                </div>
                <div class="tags-links">
                    Được sắp xếp bên dưới:
                    @if (Model.post?.tags != null)
                    {
                        foreach (var tag in Model.post.tags)
                        {
                            var tagUrl = "tag/" + tag.meta + "-" + tag.id + ".html";
                            <a style="color:#00aeff" href="@tagUrl" rel="category tag">@(tag.tagName + ",")</a>
                        }
                    }
                </div>
            </footer>
            <ul class="comment-list">
                <li>
                    <h5 class="post-author_head">Viết bởi <a href="#" title="Posts by admin" rel="author">admin</a></h5>
                </li>
                <li>
                    <img src="~/images/avatar.png" class="img-responsive" alt="">
                    <div class="desc">
                        <p>Xem thêm các bài của: <a href="#" title="Posts by admin" rel="author">admin</a></p>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
            @*<div class="content-form">
                <h3>Bình luận</h3>
                <form>
                    <input type="text" placeholder="Họ và tên" required />
                    <input type="text" placeholder="Email" required />
                    <input type="text" placeholder="Điện thoại" required />
                    <textarea placeholder="Bình luận"></textarea>
                    <input type="submit" value="Gửi bình luận" />
                </form>
            </div>*@
        </div>
        <div class="col-md-4 side-content">
            @{
                var sidebarInfor = new SidebarInfor()
                {
                    topPosts = Model.topPosts,
                    categories = Model.categories,
                    tags = Model.tags
                };
                await Html.RenderPartialAsync("~/Views/Shared/_Sidebar.cshtml", sidebarInfor);
            }
        </div>
    </div>
    <div class="container pt-2" style="margin-top: 10px;">
        <h3>Bài viết liên quan</h3>
        <div class="row">
            @{
                await Html.RenderPartialAsync("~/Views/Posts/Related.cshtml", Model.categories);
            }
        </div>
    </div>
</div>