@using ToiLamKythuat.ViewModels
@model DetailHomeView
<div class="single">
    <div class="container">
        <div class="col-md-8 single-main">
            <div class="single-grid">
                <img src="@Model.post.coverImage" alt="@Model.post.title" />
                <h1 style="padding-bottom:10px;">@Model.post.title</h1>
                <p>@Model.post.summary</p>
                @Html.Raw(Model.post.detail)
            </div>
            <footer class="entry-footer">
                <div class="entry-footer-right">
                </div>
                <div class="cat-links">
                    Được đăng trong: <a style="color:#00aeff" href="https://toihocdesignpattern.com/dich-sach" rel="category tag">Dịch sách</a>, <a style="color:#00aeff" href="https://toihocdesignpattern.com/dich-sach/head-first-design-patterns" rel="category tag">Head First Design Patterns</a>
                </div>
                <div class="tags-links">
                    Được sắp xếp bên dưới: <a style="color:#00aeff" href="https://toihocdesignpattern.com/tag/bai-dich-head-first-design-patterns" rel="tag">Bài dịch Head First Design Patterns</a>, <a style="color:#00aeff" href="https://toihocdesignpattern.com/tag/design-pattern" rel="tag">Design Pattern</a>, <a style="color:#00aeff" href="https://toihocdesignpattern.com/tag/dich-sach" rel="tag">Dịch sách</a>, <a style="color: #00aeff" href="https://toihocdesignpattern.com/tag/head-first-design-patterns" rel="tag">Head First Design Patterns</a>, <a style="color: #00aeff" href="https://toihocdesignpattern.com/tag/ket-hop-nhieu-design-pattern" rel="tag">Kết hợp nhiều Design pattern</a>
                </div>
            </footer>
            <ul class="comment-list">
                <li>
                    <h5 class="post-author_head">Viết bởi <a href="#" title="Posts by admin" rel="author">admin</a></h5>
                </li>
                <li>
                    <img src="~/images/avatar.png" class="img-responsive" alt="">
                    <div class="desc">
                        <p>Xem thêm các bài của: <a href="#" title="Posts by admin" rel="author">admin</a></p>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
            <div class="content-form">
                <h3>Bình luận</h3>
                <form>
                    <input type="text" placeholder="Họ và tên" required />
                    <input type="text" placeholder="Email" required />
                    <input type="text" placeholder="Điện thoại" required />
                    <textarea placeholder="Bình luận"></textarea>
                    <input type="submit" value="Gửi bình luận" />
                </form>
            </div>
        </div>
        <div class="col-md-4 side-content">
            @{
                var sidebarInfor = new SidebarInfor()
                {
                    topPosts = Model.topPosts,
                    categories = Model.categories,
                    tags = Model.tags
                };
                await Html.RenderPartialAsync("~/Views/Shared/_Sidebar.cshtml", sidebarInfor);
            }
        </div>
    </div>
</div>