@model ToiLamKythuat.Models.Post

@{
    ViewData["Title"] = "Chỉnh sửa bài viết";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
    .ck-editor__editable {
        height: 1000px;
    }
</style>
<div class="container">
    <h3>Chỉnh sửa bài viết</h3>
    <hr />
    <div class="row w-100">
        <form asp-action="Edit" class="w-100">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="title" class="control-label"><b>Tiêu đề</b></label>
                        <input asp-for="title" class="form-control" />
                        <span asp-validation-for="title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="createDate" class="control-label"><b>Ngày tạo</b></label>
                        <input asp-for="createDate" class="form-control" />
                        <span asp-validation-for="createDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="summary" class="control-label"><b>Tóm tắt</b></label>
                        <textarea rows="5" asp-for="summary" class="form-control"></textarea>
                        <span asp-validation-for="summary" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="metaTitle" class="control-label"><b>Meta Title</b></label>
                <input asp-for="metaTitle" class="form-control" />
                <span asp-validation-for="metaTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"><b>Mô tả</b></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thumnailImage" class="control-label"><b>Thumnail</b></label>
                <div class="input-group">
                    <input asp-for="thumnailImage" class="form-control" />
                    <div class="input-group-append">
                        <span class="btn btn-success" type="button" onclick="onBrowser('thumnailImage')">Ảnh</span>
                    </div>
                </div>
                <span asp-validation-for="thumnailImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="coverImage" class="control-label"><b>Ảnh bìa</b></label>
                <div class="input-group">
                    <input asp-for="coverImage" class="form-control" />
                    <div class="input-group-append">
                        <span class="btn btn-success" type="button" onclick="onBrowser('coverImage')">Ảnh</span>
                    </div>
                </div>
                <span asp-validation-for="coverImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="content" class="control-label"><b>Content</b></label>
                <input asp-for="content" class="form-control" />
                <span asp-validation-for="content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="keywords" class="control-label"><b>Keywords</b></label>
                <input asp-for="keywords" class="form-control" />
                <span asp-validation-for="keywords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="detail" class="control-label"><b>Nội dung</b></label>
                <textarea rows="10" asp-for="detail" id="editor"></textarea>
            </div>
            <div class="row w-100 m-0">
                <h3 class="d-block">Danh mục</h3>
                <button class="ml-2 btn btn-success" type="button" onclick="onGetCategoryModal()">Chọn</button>
                <table class="table w-100 mt-1" id="post-categories">
                    <thead>
                        <tr>
                            <th>
                                Mã quản lý
                            </th>
                            <th>
                                Tên tiêu đề
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.categories != null)
                        {
                            @foreach (var item in Model.categories)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td>
                                        <button class="btn btn-danger removeButton" type="button">Xóa</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="row w-100 m-0">
                <h3>Thẻ</h3>
                <button class="ml-2 btn btn-success" type="button" onclick="onGetTagModal()">Chọn</button>
                <table class="table w-100 mt-1" id="post-tags">
                    <thead>
                        <tr>
                            <th>
                                Mã quản lý
                            </th>
                            <th>
                                Tên thẻ
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.tags != null)
                        {
                            @foreach (var item in Model.tags)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tagName)
                                    </td>
                                    <td>
                                        <button class="btn btn-danger removeButton" type="button">Xóa</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <button type="button" value="Lưu" class="btn btn-primary" onclick="onSave()">Lưu</button>
                <a class="btn btn-dark" asp-action="Index">Thoát</a>
            </div>
        </form>
    </div>
</div>
<div id="modal-content-area" class="w-100"></div>
<script src="~/lib/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor', {
       toolbar: 'admin_mode',
        filebrowserImageBrowseUrl: "@Url.Action("Index","FileManager")",
    });
</script>
<script>
    function onGetCategoryModal() {
        $.ajax({
            url: "@Url.Action("Modal", "Category")",
            success: (res) => {
                $("#modal-content-area").empty();
                $("#modal-content-area").html(res);
            }
        }).done(() => {
            Init(() => {
                if (selectedObjects != null) {
                    $.each(selectedObjects, (index, obj) => {
                        let html = '<tr>';
                        html += '<td>';
                        html += obj.code;
                        html += '</td>';
                        html += '<td>';
                        html += obj.name;
                        html += '</td>';
                        html += '<td>';
                        html += '<button class="btn btn-danger removeButton" type="button">Xóa</button>';
                        html += '</td>';
                        html += '</tr>';
                        $('#post-categories tbody').append(html);
                    });
                }
                $("#modal-content-area").empty();
            });
        });
    }

    function onGetTagModal() {
        $.ajax({
            url: "@Url.Action("Modal", "Tag")",
            success: (res) => {
                $("#modal-content-area").empty();
                $("#modal-content-area").html(res);
            }
        }).done(() => {
            Init(() => {
                if (selectedObjects != null) {
                    $.each(selectedObjects, (index, obj) => {
                        let html = '<tr>';
                        html += '<td>';
                        html += obj.code;
                        html += '</td>';
                        html += '<td>';
                        html += obj.name;
                        html += '</td>';
                        html += '<td>';
                        html += '<button class="btn btn-danger removeButton" type="button">Xóa</button>';
                        html += '</td>';
                        html += '</tr>';
                        $('#post-tags tbody').append(html);
                    });
                }
                $("#modal-content-area").empty();
            });
        });
    }

    $(document).on('click', '.removeButton', (e) => {
        $(e.target).closest('tr').remove();
        return false;
    });

    function onBrowser(elementId) {
        $.ajax({
            url: "@Url.Action("Modal", "FileManager")",
            success: (res) => {
                $("#modal-content-area").empty();
                $("#modal-content-area").html(res);
            }
        }).done(() => {
            Init(() => {
                $("#" + elementId).val(selectedFilePath);
                $("#modal-content-area").empty();
            });
        });
    }

</script>
<script>
    function onSave() {
        let categories = [];

        $('#post-categories > tbody > tr').each((index, tr) => {
            let code = $(tr).find("td:eq(0)").text();
            let name = $(tr).find("td:eq(1)").text();
            let obj = {
                code,
                name,
            }
            categories.push(obj);
        });

        let tags = [];

        $('#post-tags > tbody > tr').each((index, tr) => {
            let id = $(tr).find("td:eq(0)").text();
            let tagName = $(tr).find("td:eq(1)").text();
            let obj = {
                id,
                tagName,
            }
            tags.push(obj);
        });

        $.ajax({
            type: "POST",
            url: "@Url.Action("Edit","Posts")",
            data: {
                id: $("#id").val(),
                post: {
                    id: $("#id").val(),
                    title: $("#title").val(),
                    createDate: $("#createDate").val(),
                    summary: $("#summary").val(),
                    metaTitle: $("#metaTitle").val(),
                    description: $("#description").val(),
                    thumnailImage: $("#thumnailImage").val(),
                    coverImage: $("#coverImage").val(),
                    content: $("#content").val(),
                    keywords: $("#keywords").val(),
                    detail: CKEDITOR.instances['editor'].getData(),
                },
                categories: categories,
                tags: tags
            },
            success: (res) => {

            }
        })
    }
</script>

